<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container" >
<h2>Search Employee</h2>
<br>
<form action="/singleEmp" method="get">
    <label for="id">Employee ID:</label>
    <input type="text" id="id" name="empId">
    <button type="submit">Search</button>
    <br><br>
    <h5>Employee Detail</h5>
    <br>
    <table style="width: 80%" border="1"
           class="table table-striped table-responsive-md">

        <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Name </th>
            <th>Email</th>
            <th>location</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${employee.empId}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.location}"></td>
        </tr>
        </tbody>
    </table>
</form>
<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
</div>
</body>
</html>